<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="repositoryMappingsConfiguration" type="Kata_Invoicing.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, Kata_Invoicing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="entityMappingsConfiguration" type="Kata_Invoicing.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, Kata_Invoicing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<repositoryMappingsConfiguration>
		<repositoryMappings>
			<repositoryMapping interfaceShortTypeName="IInvoiceRepository" repositoryFullTypeName="Kata_Invoicing.Infrastructure.Repositories.Invoices.InvoiceRepository, Kata_Invoicing, Version=1.0.0.0, Cultureure=neutral, PublicKeyToken=null" />
		</repositoryMappings>
	</repositoryMappingsConfiguration>
	<entityMappingsConfiguration>
		<entityMappings>
			<entityMapping entityShortTypeName="Invoice" entityFactoryFullTypeName="Kata_Invoicing.Infrastructure.Repositories.Invoices.InvoiceFactory, Kata_Invoicing, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		</entityMappings>
	</entityMappingsConfiguration>
	<appSettings>
		<!--<add key="ConnectionString" value="server=localhost\SQLEXPRESS;Trusted_Connection=True;database=Invoicing_Kata"/> -->
		<add key="ConnectionString" value="server=MXTST1W4L4B3\SQLEXPRESS;Database=Invoicing_Kata;User ID=sa;Password=Chap1ngo01;Trusted_Connection=false;MultipleActiveResultSets=true" />
		<add key="Environment" value="DEV" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>