@{
    ViewData["Title"] = "Home Page";
}


    <div class="alert alert-info" role="alert">
    This is where you can administer the products available on the Carved Rock website!
    </div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
